ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    margin-right:25px;    
}
h1{
    color: purple;
    margin-left:70px;   
}
li a{
    color: black;
    text-decoration: none;
    padding: 14px;
          
}
header{
    display: flex;
    justify-content:space-between ;
    
}
li a:hover{
    background-color: purple;
    color:white;
    border-radius: 10px;
}

.demo{
    margin-left: 70px;
    margin-top: 50px;
    
}
.btn1{
    height:45px;
    border-radius: 10px;
    width: 110px;
    background-color: purple;
    color: white;
    border-color: purple;
    


}

.btn1:hover{
    background-color: white;
    color:purple;
    cursor: pointer;
    
}

.btn2{
    height:45px;
    border-radius: 10px;
    width: 110px;
    border-color: purple;
    background-color: white;
    color:purple;
    margin-left: 20px;
    
}
.btn2:hover{
    background-color: purple;
    color:white;
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .air{
        display: flex;
        flex-direction:column ;
    }
    .src{
        display: flex;
        flex-direction:column ; 
    }
    .src img{
        margin:auto;
        margin-top: 20px;

    }
    
}

    .src{
        display:flex;
        justify-content: space-between;
    }

    .img{ 
        margin-right: 200px;
        border-radius: 100px;
        margin-top: 50px;
        
    }