*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tolu{
    width: 35%;
    margin: auto;
    padding: 7px;
    background-color: powderblue;
    margin-top: 100px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

.sep{
    display: flex;
    align-items: center;
    gap: 10px;
}


.tolu i{
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

.inp{
    padding: 10px;
    outline: none;
    border: none;
    background-color: powderblue; 
}


.two{
    display:flex;
    align-items:center;
    border-left: 1px solid gray;
    padding:10px;
}

#ic{
   display: none;
}



.di{
    display: flex;
    gap: 15px;
}


.record{
    display: flex;
    flex-direction: column;
    text-align: center;
   gap:15px;
   background-color: aliceblue;
   padding: 20px;
   width: 25%;
   margin:auto;
   position: relative;
   top: 80px;
   display: none;
    
}

.record h2, span, i{
    color: blue;
}

.record i{
    font-size: 20px;
    cursor: pointer;
}

.send{
display:flex;
align-items:center;
Justify-content:center;
gap:30px;

}

@media screen and (max-width:700px) {
    .record{
        width: 70%;
    }

    .tolu{
        width: 88%;
    }
   
    
}
