
@import url("https://fonts.googleapis.com/css?family=Nunito|Inter:400,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


:root{
    --clr-primary:#4c0458;
    --clr-secondary:#ff9900;
    --ff-primary: "Nunito", sans-serif;
    --ff-secondary:"Inter", sans-serif;
  }


  

body{
    font-family: var(--ff-primary);
}

 /* nav styling*/
 
.logo{
    width: 200px;
}



  .logo img{
      height: 50px;
      width: 100%;
  }


  ul{
     list-style-type:none;
     display: flex;
     gap: 20px;
  }



a{
    text-decoration: none;
    color: black;
}


  .bar, .close{
      display: none;
  }


  .login-butt{
      padding: 13px;
      width: 100px;
      outline: none;
      border: none;
      border-radius: 7px;
      color: white;
      background-color: var(--clr-primary);
      cursor: pointer;
  }

  .nav-links{
      display: flex;
      align-items: center;
      gap: 30px;

  }

  .nav{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      padding: 10px;
  }

   /* end of nav styling*/


   .home-h1{
       font-size: 30px;
    text-align: center;
    color: white;
   
   }


   
  .login-butt2{
    padding: 15px;
    width: 130px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--clr-secondary);
}



.register-butt{
    padding: 15px;
    width: 130px;
    outline:none;
    background-color: var(--clr-primary) ;
    border: 2px solid var(--clr-secondary);
    border-radius: 7px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}



.home-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 40px;
    padding-top: 100px;
    
   
}

.home{
    background-color: var(--clr-primary);
    height: 500px;
 
}


.button-container{
    display: flex;
    align-items: center;
    gap: 20px;

}

    

    .vid-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
        text-align: center;
        margin-top: 60px;
        width: 100%;
       
      
       
     
    }


    .vid-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .vid-page h1{
        font-size: 50px;
        color: var(--clr-primary);
    }
    
    .vid-page p{
        font-size: 17px;
        color: gray;
    }


    .video{
        width: 50%;
        
    }



#vide{
    width: 100%; 
    border-radius: 15px;
    
}


.student1 h1{
    font-size: 40px;
    color: var(--clr-primary);

}

.student1 p{
    line-height: 27px;
}


.student1{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), -2px -2px 4px 0 rgba(0,0,0,0.09);
    padding: 20px;
    border-radius: 10px;
    
}


.student{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
   
   
}



.studentimg{
    display: flex;
    position: relative;
    height: 350px;
    width: 250px;
}


.stu1{
    border-radius: 10px;
    height: 350px;
    width: 175px;
   
}


.stu2{
    height: 350px;
    width: 175px;
    border-radius: 10px;
    position: absolute;
    left: 140px;
    bottom: 80px;

    
}


.financeimg{
    height: 350px;
    width: 250px;
    border-radius: 10px;
    
}


.Finance{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), -2px -2px 4px 0 rgba(0,0,0,0.09);
    padding: 20px;
    border-radius: 10px;
   
}


.Finance h1{
    font-size: 40px;
    color: var(--clr-primary);

}

.Finance p{
    line-height: 25px;
}


.financial-aid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}




.academic{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), -2px -2px 4px 0 rgba(0,0,0,0.09);
    padding: 20px;
    border-radius: 10px;
   
}

.academic h1{
    font-size: 40px;
    color: var(--clr-primary);
}

.academic p{
    line-height: 27px;
}

.academyimg{
    height: 350px;
    width: 250px;
    border-radius: 10px;
}


.Academy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;

}


.Agency1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), -2px -2px 4px 0 rgba(0,0,0,0.09);
    padding: 20px;
    border-radius: 10px;
   
}



.Agency1 h1{
    font-size: 40px;
    color: var(--clr-primary);
}

.Agency1 p{
    line-height: 27px;
}



.Agencyimg{
    display: flex;
    position: relative;
    height: 350px;
    width: 250px;
    
   
}



.Agencyimg1{
    border-radius: 10px;
    height: 350px;
    width: 175px;
    
   
}


.Agencyimg2{
    height: 350px;
    width: 175px;
    position: absolute;
    left: 140px;
    bottom: 80px;
    border-radius: 10px;
    
}



.Agency{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 200px;

}



.saving{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.09), -2px -2px 4px 0 rgba(0,0,0,0.09);
    padding: 20px;
    border-radius: 10px;
   
}

.saving h1{
    font-size: 40px;
    color: var(--clr-primary);
}

.saving p{
    line-height: 25px;
}

.saving-planimg{
    height: 350px;
    width: 250px;
    border-radius: 10px;
}




.saving-plan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;

}


.footer{
    background-color: var(--clr-primary);
    margin-top: 200px;
    height: 200px;
    width: 100%;
}





















